<div class="container mt-3" *ngIf="movie">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-3">{{movie.title}}</h1>
    <a class="btn btn-secondary" routerLink="/">← Retour à la liste</a>
  </div>


  <div class="card mb-4 shadow">
    <div class="row g-0">
      <div class="col-md-4" *ngIf="movie.image">
        <img [src]="'http://localhost:8080/movies/' + movie.id + '/image'" class="img-fluid rounded-start" alt="{{ movie.title }}" />
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text"><strong>Réalisateur:</strong> {{ movie.director }}</p>
          <p class="card-text">
            <strong>Date de sortie:</strong>
            {{ movie.releaseDate | date: 'longDate' }}
          </p>
          <p class="card-text"><strong>Note:</strong> {{ movie.rate ?? 'N/A' }}</p>
          <p class="card-text"><strong>Synopsis:</strong></p>
          <p class="card-text text-muted">{{ movie.synopsis }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
