<nav class="navbar navbar-light navbar-expand px-5 d-flex align-items-center">
  <a routerLink="/"><img src="../../assets/logo.png" height="50" class="logo mx-3" /></a>

  <h3 class="mb-0">
    <a
      class="nav-item nav-link"
      routerLink="/"
      routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Accueil
    </a>
  </h3>

  <h3 class="mb-0">
    <a
      class="nav-item nav-link mx-3"
      routerLink="/movies"
      routerLinkActive="active-tab"
    >
      Gestion de films
    </a>
  </h3>
</nav>
